.content {
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column; /* Ajuste para manejar el layout vertical */
}

.products-title {
  margin-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  flex: 1; /* Ocupa todo el espacio vertical disponible */
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido hacia arriba */
}

.sideTitleContainer {
  display: flex;
  align-items: center;
}

.sideTitle {
  font-size: 25px;
  margin-left: 20px;
  color: #6c757d;
}

.dashboardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.mobile-menu-icon {
  position: fixed;
  padding: 10px;
  top: 10px;
  left: 10px;
  z-index: 1000;
  border: 2px solid white;
  background-color: #1f2937;
  color: white;
  border-radius: 12px;
}

.productContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.message {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
  color: #333;
}