.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}


.section {
    display: flex;
    width: 100%;
    max-width: 800px; /* Ancho máximo para las secciones */
    margin-bottom: 2rem;
}

.section:nth-child(even) {
    flex-direction: row-reverse; /* Invertir dirección de flex en secciones pares */
}

.imageContainer {
    flex: 1;
    margin-right: 1rem; /* Espacio entre imagen y texto */
}

.imageContainer img {
    width: 100%; /* Imágenes ocupan todo el ancho del contenedor */
    height: auto; /* Altura ajustada automáticamente */
    border-radius: 10px; /* Borde redondeado opcional */
}

.textContainer {
    flex: 1;
    padding: 0 1rem; /* Espaciado interno del texto */
    text-align: center; /* Centrar texto */
}

.textContainer h2 {
    color: #333; /* Color de título */
    font-size: 1.6rem; /* Tamaño de fuente del título */
    margin-bottom: 1rem; /* Espacio inferior del título */
}

.textContainer p {
    color: #666; /* Color de texto */
    font-size: 1.2rem; /* Tamaño de fuente del texto */
    line-height: 1.6; /* Altura de línea */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .section {
        flex-direction: column; /* Cambio a columna para dispositivos móviles */
    }

    .section:nth-child(even) {
        flex-direction: column-reverse; /* Invertir dirección de flex en secciones pares para móviles */
    }

    .imageContainer {
        margin-right: 15px;
        margin-left:15px; /* Eliminar margen derecho en dispositivos móviles */
        margin-bottom: 1rem; /* Espacio entre imagen y texto en dispositivos móviles */
    }

    .textContainer {
        text-align: center; /* Centrar texto en dispositivos móviles */
    }

    .introContainer {
        padding: 0 1rem; /* Ajuste de espaciado interno en dispositivos móviles */
    }
}