.homeContainer {
  text-align: center;
  margin-bottom: 30px;
}

.hero-banner {
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin-bottom:25px;
}

.hero-banner img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.additional-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.additional-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.additional-container p {
  font-size: 1.2rem;
}

.nosproductTitle {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.introContainer {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.5rem;
  margin-top:50px
}
  
  