.pageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 58vh;
    padding-top: 2rem;
}

h3 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content {
    background-color: #333;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-top: -20px;
    margin-bottom: 50px;
}

.formGroup {
    margin-bottom: 1rem;
}

.label {
    color: #fff; /* Color de texto blanco */
}

.input {
    width: calc(100%);
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submitBtn {
    width: 100%;
    padding: 0.75rem;
    background-color: #0062cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:hover {
    background-color: #004bb5;
}