/* @tailwind base;

/* @tailwind components; */
/* @tailwind utilities; */ */

/* ::selection {
  background-color: #4563eb; /* blue-600 */
  /* color: white; */

/* 
#main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
} */
/* 
#content-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
/* } */
/* 